#results-container {
    border: 1px dotted maroon;
    border-radius: 4px;
    padding: 12px 36px;
}

.result-item {
    margin-bottom: 12px;
}

.track-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.artist-name,
.track-duration {
    display: inline-block;
    margin-right: 36px;
}
